<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <div class="navbar-brand"><span>my</span>365<span>project</span></div>
  </div>
  <div class='navbar-collapse collapse'>
    <ul class='nav navbar-nav navbar-right'>
      <li><a href='/'>Home</a></li>
      <li><a href='#about'>About</a></li>
      <% if login? %>
      <li><a href='#' class="instagram-upload">Upload</a></li>
      <li><a href='/oauth/connect'>Connect</a></li>
      <li><a href='/logout'>Logout</a></li>
      <% else %>
      <li><a href='/login'>Login</a></li>
      <% end %>

    </ul>
  </div>
</nav>

<!-- <div class="container-fluid" id="home">
  <div class="row-fluid" id="header">
    <div id="header-contents">
      <div id="time-count" class="visible-sm visible-md visible-lg">
        <h1 style="font-size:100px;"><span><%= total_days %> / 365</span></h1>
      </div>
      <div id="time-count" class="visible-xs">
        <h1 style="font-size:74px;"><span><%= total_days %> / 365</span></h1>
      </div>
      <div class='row-fluid social-icons-background'>
        <a href='#' class="instagram-upload">Upload</a> 
        <a href='/oauth/connect'>Connect</a>
        <a href="https://github.com/awheels"><i class="fa fa-github-square fa-5x"></i></a>
        <a href="https://ca.linkedin.com/in/andwheeler/"><i class="fa fa-linkedin-square fa-5x"></i></a>
        <a href="https://twitter.com/and_wheeler"><i class="fa fa-twitter-square fa-5x"></i>
        <a href='#'><i class="fa fa-flickr fa-5x"></i></a>
      </div>
    </div>
  </div> -->


<div class="row-fluid" id="gallery">
  <% @images.each do |image| %>
  <div class="col-xs-12 col-sm-6 col-xl-2 col-md-3 photo-main-box">
    <a href=<%='gallery/'+image.year+'-'+image.month %>>
    <div data-month=<%=image.month%> id=<%= image.month %> data-imageID=<%=image.id%> class="photo">
      <img class="visible-xs visible-sm" src=<%= image.url %>>
      <img class="visible-md visible-lg" src=<%= image.lowres %>>
      <div class="image-date">
        <p><%= Date::MONTHNAMES[image.month.to_i] %> </p>
      </div>
    </div>
    </a>
  </div>
  <% end %>

  <div id="instagram-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="overflow-y: hidden">
          <div id='add-instagram'>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button class="button btn btn-default load-more-images" data-maxid="">Load more</button>
          <button class="instagram-save-images button btn btn-default">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="about">
  <div class='profile-img'>
    <img  src="/images/ProfileImg.jpg">
  </div>
  <h3>About</h3>
  <div class='profile-lock'>
    <div class='profile-text'>
      <p> I've always been keen to take on the challenge of a 365 photo project but was always deterred by the difficulty of keeping motivated and organized. I knew that if I had to remember to upload my images to a specific folder or website on a regular basis that it would only be a matter of time before I forgot a few days and lost my motivation. By leveraging the Instagram API I've been able to simplify the workflow, which I am hoping will lead to a successful project. Anytime that I post an image on my Instagram account with the hashtag of #my365 the image is pulled onto this site along with its date and other details.     </p>
    </div>
  </div>
</div> 

<script> 
  $(document).ready(function(){
    function saveImages(array){
      var request = $.ajax({
        url: '/instagram-save',
        type: 'POST',
        data: { array : array },
        dataType: 'json',
      });
      request.done(function(msg) {
        location.reload();
      });
    }

    $('#add-instagram').delegate('.instagram-image', 'click', function(){
      $(this).toggleClass('selected-image');
    });


    $('.instagram-upload').click(function(){
      var request = $.ajax({
        url: '/instagram_upload',
        type: "GET",
        dataType:'json',
      });
      request.done(function(msg) {
        $("#instagram-modal").modal('show');
        $('#add-instagram').append(msg.images);
        $('.load-more-images').attr('data-maxid', msg.maxid);
      }); 
    });
    $('.load-more-images').click(function(){
      var request = $.ajax({
        url: '/instagram_upload',
        type: "GET",
        data: { maxid : $('.load-more-images').data('maxid') },
        dataType:'json',
        success: function(msg){
          $('#add-instagram').append(msg.images);
          $('.load-more-images').removeData('maxid');
          $('.load-more-images').attr('data-maxid', msg.maxid);
        }
      });
    });
    $('.instagram-save-images').click(function(){
      // $('#loading-images-spinner').css("display","initial");
      var chosenImgElements = document.getElementsByClassName('selected-image');
      var count = chosenImgElements.length;
      var chosenImages = [];
      $(chosenImgElements).each(function(index){
        count--;
        chosenImages.push({
          "url": $(this).data('url'), 
          "lowres": $(this).data('lowres'), 
          "thumbnail": $(this).data('thumbnail'), 
          "created_time": $(this).data('createdtime'), 
          "caption": $(this).data('caption'), 
          "instagram_id": $(this).data('instagramid'), 
          "instagram_link": $(this).data('instagramlink')});
        if (count == 0){
          setTimeout(function(){
            saveImages(chosenImages);
          }, 2000);
        };
      });
    })
  });


</script>
