<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="navbar-brand" href="#">Andrew Wheeler</a>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li class='active'><a href='#'>Home</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Gallery</a></li> 
        <li><a href='#'>Contact</a></li> 
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div id="header">
    <div id="time-count">
      <% if project_length_in_days >= 365 %>
        <div class='year-wrapper'>
          <span class='years'><%= project_length_in_days / 365 %></span>
          <br>
          years
        </div>
      <% end %>
      <% if project_length_in_days >= 30 %>
        <div class='month-wrapper'>
          <span class='months'><%= (project_length_in_days % 365) / 30 %></span>
          <br>
          months
        </div>
      <% end %>
      <div class='day-wrapper'>
        <span class='days'><%= (project_length_in_days % 365) % 30%> </span>
        <br>
        days
      </div>      
    </div>
    <div id="social-icons-left">
      <i class="fa fa-github-square fa-5x"></i>
      <i class="fa fa-linkedin-square fa-5x"></i>
    </div>
    <div id="social-icons-right">
      <i class="fa fa-twitter-square fa-5x"></i>
      <i class="fa fa-flickr fa-5x"></i>
    </div>
  </div>



  <div id="gallery-background" class="row">
    <div class="month">
      <h2>November</h2>
      <% @images.each do |image| %>
        <div class="col-md-4 photo-main-box">
          <div class="photo">
            <img src=<%= image.url %>>
          </div>
          <div class="date">
            <h6><%= Date::MONTHNAMES[image.month.to_i] %> <%= image.day %> </h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>