<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="navbar-brand" href="#">Andrew Wheeler</a>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li class='active'><a href='#'>Home</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Gallery</a></li> 
        <li><a href='#'>Contact</a></li> 
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row-fluid" id="header">
    <div id="header-contents">
      <div id="time-count">
        <% if projects_years_months_days(Image.projects_first_day)[0] != 0 %>
          <div id='year-wrapper'>
            <span class='years'><%= projects_years_months_days(Image.projects_first_day)[0] %></span>
            <br>
            years
          </div>
        <% end %>
        <% if (projects_years_months_days(Image.projects_first_day)[1] != 0) || 
          ((projects_years_months_days(Image.projects_first_day)[1] == 0) && ((projects_years_months_days(Image.projects_first_day)[0]) != 0)) %>
          <div id='month-wrapper'>
            <span class='months'><%= projects_years_months_days(Image.projects_first_day)[1] %></span>
            <br>
            months
          </div>
        <% end %>
        <div id='day-wrapper'>
          <span class='days'><%= projects_years_months_days(Image.projects_first_day)[2] %> </span>
          <br>
          days
        </div>
      </div>
      <div class='row-fluid social-icons-background'>
        <i class="fa fa-github-square fa-5x"></i>
        <i class="fa fa-linkedin-square fa-5x"></i>
        <i class="fa fa-twitter-square fa-5x"></i>
        <i class="fa fa-flickr fa-5x"></i>
      </div>
    </div>
  </div>

  <div class='row-fluid' id='filter-box'>
    <div class="dropdown" id='filter-button'>
      <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#">View All</a></li>
        <li class="divider"></li>
        <% @months.each do |month| %>
        <li><a href="#" data-month = '<% Date::MONTHNAMES.index(month.split[0]) %>' data-year = '<% month.split[1] %>'><%= month %></a></li>
        <% end %>
      </ul>
    </div>
  </div> 

  <div class="row-fluid gallery-background">
    <div class="month">
      <h2>November</h2>
      <% @images.each do |image| %>
        <div class="col-md-4 photo-main-box">
          <div class="photo">
            <img src=<%= image.url %>>
          </div>
          <div class="date">
            <h6><%= Date::MONTHNAMES[image.month.to_i] %> <%= image.day %> </h6>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script> 
  $(document).ready(function(){
      function fixDiv() {
        var $cache = $('#filter-box'); 
        if ($(window).scrollTop() > 505) 
          $cache.css({'position': 'fixed', 'top': '70px'}); 
        else
          $cache.css({'position': 'absolute', 'top': '505px'});
      }
      $(window).scroll(fixDiv);
      fixDiv();
  });

  $(document).ready(function(){
    var yearsPresent = $('#year-wrapper').length;
    var monthsPresent = $('#month-wrapper').length;
    if (yearsPresent != 0) {
      $("#header-contents").css('margin-left', '-334px');
    } else if (monthsPresent != 0){
      $("#header-contents").css('margin-left', '-222px');
    } else {
      $("#header-contents").css('margin-left', '-145px');
    };
  });
</script>